.link-preview {
  width: 96%;
  margin: 0 auto;
  border: 1px solid #ABB8C2;
  border-radius: 12px;
  overflow: hidden;
}

.link-title {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 0px;
  color: black;
}

.link-URL {
  color: #6CA6CB;
  margin-left: 20px;
  font-weight: lighter;
  font-size: 18px;
}
